body {
    background-color: #e1bee7; /* blue-grey lighten-2 */
  }
  .card {
    background-color: #90caf9; /* deep-purple accent-1 */
  }
  .btn-submit {
    background-color: #ffcc80; /* orange lighten-3 */
  }
  .white-text {
    color: white !important;
  }
  
  /* Personalización de la tabla para mejorar la alineación */
  #contact-table th, #contact-table td {
    padding: 10px;
    text-align: left;
  }
  #contact-table .col-nombre {
    width: 20%;
  }
  #contact-table .col-telefono {
    width: 20%;
  }
  #contact-table .col-email {
    width: 25%;
  }
  #contact-table .col-notas {
    width: 25%;
  }
  #contact-table .col-acciones {
    width: 10%;
  }
  